# Copyright (c) 2023 Meta Platforms
# SPDX-License-Identifier: Apache-2.0

config ZEPHYR_KISSFFT_MODULE
	bool

menuconfig KISSFFT
	bool "KissFFT Library Support"
	help
	  This option enables the KissFFT library.
